[Unit]
Description=un petit servie pas très légal mais c'est le prof qui veux qu'on le fabrique

[Service]
ExecStart=/srv/yt/yt-v2.sh
User=yt

[Install]
WantedBy=multi-user.target